<h1>A given User detail with posts</h1>
<%= render 'partials/user', user:@user%>

<div class="user_bio">
 <h3>Bio</h3>
 <p><%= @user.bio %><p>
</div>

<div class="user_post">
   <% @user.most_three_recent_post.each do |post| %>

      <%= render 'partials/post', post:post %>
   <%end%>

</div>
<div class="button_holder">

<button>
<%= link_to 'Create new post', new_user_post_path(@user)%>
</button>

<button>
 <%= link_to 'See all posts', "#{@user.id}/posts" %>
</button>

<button>
 <%= link_to 'Back', :back %>
</button>
</div>