<h1>Post Detail</h1>
<div class="post_detail">

  <div class="post_detail_card">
  <div class="post_detail_card_header">
    <p class ="post_title"> Post <%=@post.id%> by <%=@post.author.name%></p>
    <p>Comments: <%=@post.comments_counter%> Likes:  <%=@post.likes_counter%></p>
  </div>
  <div>
    <p><%=@post.text%></p>
  </div>
    </div>
    <% if  !@post.comments.empty?%>
    <div class ="post_detail_comment">
     <% @post.comments.each do |comment| %>
       <%= render 'partials/comment', comment:comment %>
       <% end %>
  </div>
    <%end%>
</div>

<%end%>
    <div class="comment_like_holder">

     <div class= "comment_form_holder">
       <h3>Leave a comment</h3>
      <%= render 'comments/form', comment: @comment %>
      </div>

       <div class="like_form_holder">
        <h3>Like this post</h3>
        <%= render 'likes/form', like: @like %>
        </div>
      </div>
</div>